
<div id="app-box">
  <div id="map-canvas" data-markers="<%= if @mapData != nil then @mapData.to_json end %>" >
  </div>
  <div class="map-control-box"></div>
</div>
  <script type="text/javascript">
    // listener starts the map after the window loads
    //google.maps.event.addDomListener(window, 'pageshow', initializeMap);
    $(window).ready(function() {
      initializeMap();
    });
  </script>