
<div id="map-canvas">
  <div class="map-control-box"></div>
  <script type="text/javascript">
  	// listener starts the map after the window loads
      // google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</div>