<h2>DashBoard</h2>



<div class="btn-toolbar col-md-12" role="toolbar">
  <div class="btn-group">
  		<%= link_to 'Regions', regions_path, class: ['btn', 'btn-default'] %>
  </div>

</div>

<div class="row">
	<%= render "googleMap" %>
</div>