<main>
	<article id="carousel-wrapper">
<!-- 	BigVideo stuff here	 -->
		<img id="placeholder-img" src="http://asme.berkeley.edu/wordpress/wp-content/uploads/2013/11/Rock-Climbing-Wallpaper-HD.jpg">
	</article>
	<div id="logo-container">
		<h1>JTree</h1>
	</div>
	<div id="icon-container">
		<img src="assets/images/Guide Icon F1F9FB.png">
		<img src="assets/images/2 Compass Icon f1f9fb.png">
		<img src="assets/images/profile_icon_f1f9fB.png">
	</div>
</main>