<h2>Listing All Site Photos</h2>
<strong>Wall Photos</strong>
<%= render 'wall_photos/table' %>
<br>
<strong>Sport Route Photos</strong>
<%= render 'sport_route_photos/table' %>
<br>
<strong>Traditional Route Photos</strong>
<%= render 'traditional_route_photos/table' %>
<br>
<strong>Boulder Route Photos</strong>
<%= render 'boulder_route_photos/table' %>
<br>