
<script type="text/javascript">
  // listener starts the map after the window loads
  setDataUrl("regions/data/getJson");
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="app-box">
  <div id="map-canvas"></div>
  <div class="map-control-box"></div>
</div>